.wallets-container {
    height: calc(100% - 70px);
}

.wallet-container {
    background-color: #3762c7;
    height: 50%;
    padding: 50px 20px;
}

.background {
    background-color: #387ad7;
}

.wallet-currency,
.wallet-currency:focus {
    color: white;
    font-size: 50px;
    background-color: #387ad7;
    border: none;
}

.wallet-currency-second,
.wallet-currency-second:focus {
    color: white;
    font-size: 50px;
    background-color: #3762c7;
    border: none;
    width: 50%;
}

.wallet-pocket {
    color: white;
}

.wallet-second-amount {
    color: white;
    font-size: 40px;
    line-height: 70px;
}

.wallet-input,
.wallet-input:disabled,
.wallet-input:focus {
    background-color: #387ad7;
    color: white;
    font-size: 30px;
    width: 100%;
    border: 0;
    outline: none;
    text-align: right;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    border-top: 20px solid #387ad7;
}