.header-container {
    background-color: #387ad7;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
}

.header-button,
.header-button:hover, 
.header-button:active, 
.header-button:focus {
    color: white;
    background-color: #387ad7 !important;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    outline: none !important;
}
.header-button:disabled {
    opacity: 0.5;
    background-color: #387ad7;
}